{{ template "_header.html" .}}
<div>
  <div class="container">
    <div class="card card-container">
      <form action="/login" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ユーザーID</label>
          <input name="userid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">パスワード</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">ログイン</button>
      </form>
      <p>{{ .message }}</p>
      <!-- formの中だと/homeに遷移してしまう -->
      <button class="btn btn-link" onclick="location.href='/signup'">新規登録</button>
    </div>
  </div>
</div>
<style>
  .card-container.card {
    max-width: 350px;
    padding: 40px 40px;
  }
</style>
</body>
</html>